<h2>Do you want to add a new post</h2>
<%= form_with model: @post, scope: :data do |f| %>
<div class="card bg-transparent">
  <div class="card-body">

    <div class="mb-3">
      <%= f.label :title, { class: "form-label"} %>
      <%= f.text_field :title, { class: "form-control", placeholder: "Post title" } %>
    </div>

    <div class="mb-3">
      <%= f.label :text, { class: "form-label"} %>
      <%= f.text_area :text, { class: "form-control", placeholder: "Content" } %>
    </div>

    <%= f.submit "Create post", class: "btn btn-primary" %>

  </div>
</div>
<% end %>
