<div class="container py-3">
  <p id="notice"><%= notice %></p>
  <%= render partial: "_partials/header", locals: {user: @user} %>
  <div class="form p-2 my-4 border border-dark">
    <%= render partial: "form" %>
  </div>
  <% @posts.each do |post|%>
    <div class="d-flex flex-column py-3">
      <%= render partial: "posts/post", locals: {post: post, user: @user} %>
      <ul class="comments-list">
        <% post.recent_comments.each do |comment| %>
          <li><%= comment.find_author%> : <%= comment.text%></li>
        <%end%>
      </ul>
  </div>
  <%end%>
  <%== render partial: '_partials/pagy', locals: {pagy: @pagy} %>
</div>

