<div class="container py-3">
  <p id="notice"><%= notice %></p>
  <%= render partial: "_partials/header", locals: {user: @user} %>
  <%= link_to "Add post", new_post_path, {class: "btn btn-success w-25 mt-5 mb-2"} %>
  <h2 class="text-center text-capitalize mt-3"><%= posts?(@posts) %></h3>
  <% @posts.each do |post|%>
    <div class="d-flex flex-column py-3">
      <%= render partial: "posts/post", locals: {post: post, user: @user} %>
      <ul class="comments-list mt-1">
        <% post.recent_comments.each do |comment| %>
          <li class="d-flex">
            <%= comment.find_author%> 
            : <%= comment.text%> 
            <%= render partial: '_partials/buttons/delete_comment', locals: {post: post, comment: comment} %>
          </li>
        <%end%>
      </ul>
  </div>
  <%end%>
  <%== render partial: '_partials/pagy', locals: {pagy: @pagy} %>
</div>

