<div class="container py-3 d-flex flex-column">
    <div class="d-flex flex-column py-3">
     <div class= "post_container d-flex flex-column mt-5">
      <div class="d-flex justify-content-between">
        <%= render partial: '_partials/cards/post_card', locals: { post: @post} %>
      </div>
      <p class="d-block w-75 text-break "><%= @post.text %></p>
     </div>
     <%= render partial: '_partials/buttons/delete_post', locals: { post: @post, user: @user } %>
      <ul class="comments-list">
        <% @comments.each do |comment| %>
          <li class="d-flex">
            <%= comment.find_author%> 
            : <%= comment.text%> 
            <%= render partial: '_partials/buttons/delete_comment', locals: {post: @post, comment: comment} %>
          </li>
          <hr class="p-0 my-2"/>
        <%end%>
      </ul>
      <%= render partial: "likes/form" %>
      <%= render partial: "comments/form"%>
   </div>
</div>

